.about {
  /* height: 60vh; */
  width: 80vw;
  display: flex;
  margin: 30px 9.5%;
  // padding-bottom: 10vh;
}
.head {
  // display: flex;
  margin-left: 18vw;
  justify-content: center;
  .about_imag {
    margin-left: 32vw;
    position: relative;
    // max-width: 100%;
    // transition: 2s delay;
  }
}

.about_text {
  line-height: 1.35em;
  margin: 0 30px;
  font-size: 1.25rem;
  margin-left: 5vw;
  animation: name1 1s;
  text-align: center;
}
@keyframes name1 {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0px);
  }
}

.aboutUs {
  // background-color: #ffcb81;
  position: relative;
  overflow: hidden;
  animation: name2;
  animation-duration: 1000s;
}
@keyframes name2 {
  0% {
    background-color: #ffcb81;
  }
  2% {
    background-image: url("/assets/Orange.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.about_image {
  // position: relative;
  width: 23vw;
  height: 78vh;
  animation: name0 16s;
}
@keyframes name0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about_imag {
  width: 30%;
  animation: name 10s;
}
.about_heading {
  /* width: 240px; */
  /* height: fit-content; */
  margin-top: 4rem;
  margin-left: 6.5rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  /* line-height: 84px; */
  text-align: center;
  color: #eff2f4;
  margin-bottom: auto;
  // margin-left: 10rem;
}

.footer {
  padding-top: 5vh;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  margin: auto;
  .line2 {
    // padding-bottom: 5vh;
    padding: 1vw;
    height: 6vh;
    width: 3.5vw;
  }
  .line1 {
    // padding-top: 8px;
    // margin-bottom: 10vh;
    margin-top: 2.8vh;
    // padding: 3px;
    height: 0.18vh;
    width: 10vw;
  }
}

.alpona {
  position: absolute;
  right: 0;
  // float: right;
  // display: flex;
  height: 20vw;
  animation: name 10s;
}

@media only screen and (max-width: 660px) {
  .about {
    display: block;
    flex-direction: column;
  }

  .about_text_div {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
  }

  .about_text {
    font-size: 1rem;
    // margin-right: 15px;
  }

  .about_image {
    // height: 20vh;
    width: 50%;
  }

  .about_imag {
    width: 60%;
    // float: left;
    margin-bottom: 1rem;
  }

  .footer {
    justify-content: center;
    .line2 {
      // padding-bottom: 5vh;
      padding: 1vw;
      height: 6vh;
      width: 8vw;
    }
    .line1 {
      // padding-top: 8px;
      margin-top: 2.5vh;
      // padding: 3px;
      height: 0.3vh;
      width: 150px;
    }
  }
  .head {
    padding-right: 1vw;
    .about_heading {
      /* width: 240px; */
      // margin-right: 10vw;
      padding-right: 25vw;
      font-size: 3rem;
      margin-bottom: 3px;
      text-align: center;
      float: left;
    }
    .about_imag {
      // margin-right: 65vw;
      padding-right: 50vw;
      align-items: center;
      float: left;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    display: block;
    /* height: 90vw; */
    padding-bottom: 0 !important;
    margin-bottom: 5vh !important;
  }

  .about_text {
    /* line-height:normal; */
    font-size: 1.5em;
    margin: 5vh;
    margin-bottom: 3vh;
    // padding-right: 400px;
  }

  .about_image {
    margin-left: 4vw;
    margin-bottom: 0;
    width: 65vw;
    height: 80vw;
  }
  .about_heading {
    margin-left: 3rem;
    // padding-left: 500px;
  }
}
