* {
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.main {
  background-image: url("../../../public/assets/Background_sponsor.png");
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.monument {
  height: 100%;
  width: 100%;
  border: 0%;
}
.FlowerLeft {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 42%;
}
.FlowerRight {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 42%;
}
.heading {
  display: flex;
  top: 3.7%;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
  }
}
.underline {
  display: flex;
  top: 6.5%;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 25%;
  }
}
.sponsor {
  // border:1px solid black;
  position: absolute;
  height: 13%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    width: 30%;
    // border:1px solid black;
    border-radius: 5%;
    background-image: url("../../../public/assets/card2.png");
    background-position: center;
    background-size: cover;
  }
}
.name {
  // border:1px solid black;
  position: absolute;
  height: 3%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  .item_name {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    width: 30%;
    // border:1px solid black;
    border-radius: 5%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
  }
}
#first {
  top: 20%;
}
#first_name {
  top: 33%;
}
#second {
  top: 40%;
}
#second_name {
  top: 53%;
}
.media_headline {
  display: flex;
  top: 60%;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 35%;
  }
}
#third {
  top: 65%;
}
#third_name {
  top: 78%;
}
.TopBorder {
  display: flex;
  justify-content: center;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  top: 12%;
  height: 3%;
}
.BottomBorder {
  display: flex;
  justify-content: center;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  top: 85%;
  height: 3%;
}
.LeftBorder {
  left: -44%;
  display: flex;
  justify-content: center;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  top: 12%;
  height: 77%;
}
.RightBorder {
  right: -44%;
  display: flex;
  justify-content: center;
  position: absolute;
  // border:1px solid black;
  width: 100%;
  top: 12%;
  height: 77%;
  img {
    width: 5%;
  }
}
