.landing {
  overflow: hidden;
  background-image: url("/assets/Background.png");
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Eye {
  position: relative;
  width: 100%;
  height: 26%;
  top: 20%;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-name: Eye;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  img {
    object-fit: cover;
  }
}
.boatL {
  width: 30%;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  animation-name: boatL;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 20%;
  top: 62%;
  left: 0%;
  img {
    height: 100%;
  }
}
.boatR {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  animation-name: boatR;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  height: 40%;
  top: 53%;
  right: 0%;
  img {
    height: 100%;
  }
}
.birdL {
  width: 40%;
  position: absolute;
  opacity: 0;
  animation-name: birdL;
  left: -27%;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
.birdR {
  position: absolute;
  opacity: 0;
  right: -27%;
  animation-name: birdR;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
@keyframes Eye {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes boatL {
  0% {
    left: -18%;
  }
  100% {
    left: 15%;
  }
}
@keyframes boatR {
  0% {
    right: -9%;
  }
  100% {
    right: 19%;
  }
}

@keyframes birdL {
  from {
    left: -27%;
    opcacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
@keyframes birdR {
  from {
    right: -27%;
    opcacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Eye {
    height: 15%;
    top: 30%;
    padding-left: 7%;
    img {
      object-fit: cover;
    }
  }
  .birdL {
    top: -8em;
    opacity: 0;
    img {
      width: 16em;
      height: 27em;
    }
  }
  .birdR {
    top: -15em;
    img {
      width: 50em;
      height: 50em;
    }
  }
  .boatL {
    width: 30%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    animation-name: boatL;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    position: absolute;
    height: 12%;
    top: 60%;
    left: 0%;
    img {
      height: 100%;
    }
  }
  .boatR {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    animation-name: boatR;
    animation-duration: 8s;
    height: 26%;
    top: 53%;
    right: 0%;
    img {
      height: 100%;
    }
  }
  @keyframes boatL {
    0% {
      left: -10em;
    }
    100% {
      left: 5em;
    }
  }
  @keyframes boatR {
    0% {
      right: -10em;
    }
    100% {
      right: 0em;
    }
  }
  @keyframes birdL {
    from {
      left: -10em;
      opcacity: 0;
    }
    to {
      left: 0em;
      opacity: 1;
    }
  }
  @keyframes birdR {
    from {
      right: -10em;
      opcacity: 0;
    }
    to {
      right: 0em;
      opacity: 1;
    }
  }
}
