.landing {
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("/assets/Background.png");
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Eye {
  position: relative;
  width: 100%;
  height: 26%;
  top: 20%;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-name: Eye;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  img {
    max-height: 100%;
    max-width: 30%;
  }
}
.boatL {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation-name: boatL;
  position: absolute;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  height: 55%;

  img {
    width: 7em;
    height: 7em;
  }
}
.boatR {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  animation-name: boatR;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  height: 65%;
}
.birdL {
  position: absolute;
  opacity: 0;
  animation-name: birdL;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
.birdR {
  position: absolute;
  opacity: 0;
  animation-name: birdR;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
@keyframes Eye {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes boatL {
  0% {
    left: -80px;
  }
  100% {
    left: 400px;
  }
}
@keyframes boatR {
  0% {
    right: -275px;
  }
  100% {
    right: 150px;
  }
}

@keyframes birdL {
  from {
    left: -300px;
    opcacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes birdR {
  from {
    right: -300px;
    opcacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Eye {
    height: 15%;
    top: 30%;
    padding-left: 5%;
    img {
      max-height: 100%;
      max-width: 40%;
    }
  }
  .boatL {
    bottom: 30%;
    img {
      width: 4em;
      height: 4em;
    }
  }

  .boatR {
    bottom: 5%;
    img {
      width: 15em;
      height: 25em;
    }
  }
  .birdL {
    top: 0em;
    img {
      width: 15em;
      height: 15em;
    }
  }
  .birdR {
    top: -10em;
    img {
      width: 40em;
      height: 40em;
    }
  }

  @keyframes boatL {
    0% {
      left: -10em;
    }
    100% {
      left: 5em;
    }
  }
  @keyframes boatR {
    0% {
      right: -10em;
    }
    100% {
      right: 0em;
    }
  }
  @keyframes birdL {
    from {
      left: -10em;
      opcacity: 0;
    }
    to {
      left: 0em;
      opacity: 1;
    }
  }
  @keyframes birdR {
    from {
      right: -10em;
      opcacity: 0;
    }
    to {
      right: 0em;
      opacity: 1;
    }
  }
}
