.aboutUs {
  background-color: #ffcb81;
  position: relative;
  overflow: hidden;
  background-image: url("/assets/Orange.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  width: 80vw;
  display: flex;
  margin: 30px 9.5%;
}
.head {
  margin-left: 18vw;
  justify-content: center;
  .about_imag {
    margin-left: 32vw;
    position: relative;
  }
}

.about_text {
  line-height: 1.35em;
  margin: 0 30px;
  font-size: 1.25rem;
  margin-left: 5vw;
  text-align: center;
  color: var(--grey-text-1-100);
}

.about_image {
  height: 40rem;
}

.about_imag {
  width: 30%;
}
.about_heading {
  margin-top: 4rem;
  margin-left: 6.5rem;
  font-family: var(--gdsc-font-2);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;

  text-align: center;
  color: #eff2f4;
  margin-bottom: auto;
}

.footer {
  padding-top: 5vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: auto;
  width: 40%;
  .line2 {
    transform: translateY(35%);
    width: 8%;
    aspect-ratio: 1;
  }
  .line1 {
    margin-top: 2.8vh;
    height: 0.18vh;
    width: 40%;
  }
}

.alpona {
  position: absolute;
  right: 0;

  height: 20vw;
}

@media only screen and (max-width: 660px) {
  .about {
    display: block;
    flex-direction: column;
  }

  .about_text_div {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
  }

  .about_text {
    font-size: 1rem;
  }

  .about_imag {
    width: 60%;
    margin-bottom: 1rem;
  }
  .about_image {
    height: 30rem;
  }

  .footer {
    justify-content: space-around;
    width: 60%;
    .line2 {
      transform: translateY(20%);
      width: 15%;
    }
    .line1 {
      margin-top: 2.5vh;
      height: 0.3vh;
      width: 30%;
    }
  }
  .head {
    padding-right: 1vw;
    .about_heading {
      padding-right: 25vw;
      font-size: 2.5rem;
      margin-bottom: 3px;
      text-align: center;
    }
    .about_imag {
      padding-right: 50vw;
      align-items: center;
      float: left;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    display: block;
    padding-bottom: 0 !important;
    margin-bottom: 5vh !important;
  }

  .about_text {
    font-size: 1em;
    margin: 5vh;
    margin-bottom: 3vh;
  }

  .about_heading {
    margin-left: 3rem;
  }
}
