.aboutUs {
  background-color: #ffcb81;
  position: relative;
  overflow: hidden;
  background-image: url("/images/Orange.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  width: 80vw;
  display: flex;
  text-align: center;
  margin: auto;
}
.head {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 15vw;
  h1 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-left: 0;
    font-family: var(--gdsc-font-2);
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: #eff2f4;
  }
  img {
    width: 30%;
  }
}

.about_text {
  line-height: 1.35em;
  margin: 0 30px;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 40px;
  color: black;
}

.about_image {
  height: 35rem;
}

.about_imag {
  width: 30%;
}

.footer {
  padding: 2vh 0 6vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: auto;
  width: 40%;
  .line2 {
    transform: translateY(35%);
    width: 8%;
    margin-top: 8px;
  }
  .line1 {
    margin-top: 2.8vh;
    height: 0.18vh;
    width: 40%;
  }
}

.alpona {
  position: absolute;
  right: 0;

  height: 20vw;
}
.line9 {
  display: none;
}

.btn {
  background-color: #a76729;
  border: none;
  color: rgb(232, 224, 224);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  margin-top: 25px;
  padding: 15px 32px;
  cursor: pointer;
  z-index: 99;
  a {
    color: #eff2f4;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 1200px) {
  .about {
    display: block;
    flex-direction: column;
  }

  .about_text_div {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .about_text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0px auto 0;
  }
  .alpona {
    height: 20vh;
  }

  .about_imag {
    width: 100%;
    margin-bottom: 1rem;
  }
  .about_image {
    height: 0;
    display: none;
  }

  .footer {
    justify-content: space-around;
    width: 60%;
    .line2 {
      transform: translateY(20%);
      width: 14%;
      margin-top: 6px;
      display: none;
    }
    .line1 {
      margin-top: 2.5vh;
      height: 0.3vh;
      width: 30%;
      display: none;
    }
  }
  .head {
    margin-left: 0vw;
    gap: 2%;
    h1 {
      font-size: 2.5rem;
    }
    img {
      width: 40%;
    }
  }
  .line9 {
    display: inline;
    position: absolute;
    bottom: 0;
    height: 20vh;
  }
  .btn {
    a {
      color: #eff2f4;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .about_text_div {
    padding-right: 0rem;
  }
}
