@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

.container {
  height: 100svh;
  background: url("https://res.cloudinary.com/dc1n0ikgk/image/upload/v1680701411/bgtexture_efqgzl.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .lottie1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .lottie2 {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    right: 0;
  }
  .sliderContainer {
    position: absolute;
    height: 65%;
    width: 75%;
    top: 35%;
    transition: all 1s ease-in-out;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
.bimg {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.bimgLeft {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
}
.bimgRight {
  position: absolute;
  transform: scaleX(-1);
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
}
.text {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5%;
  .design {
    img {
      max-width: 80%;
      height: 100%;
    }
  }
  .tt {
    font-family: "Italiana", serif;
    font-size: 3.5rem;
    line-height: 94px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 2px rgba(255, 255, 255, 0.25);
  }
}
@media only screen and (max-width: 500px) {
  .bimg {
    object-fit: cover;
  }
  .bimgLeft,
  .bimgRight {
    max-width: 50%;
    object-fit: cover;
    object-position: bottom;
  }
  .bimgLeft {
    transform: scaleY(-1);
  }
  .text {
    gap: 0.5rem;
    .design {
      width: 4rem;
    }
    .tt {
      font-size: 3rem;
    }
  }
  .sliderContainer {
    margin-top: -2.5rem;
    width: 90% !important;
    height: 70% !important;
  }
}
@media only screen and (min-width: 790px) and (max-width: 1000px) {
  .bimgLeft,
  .bimgRight {
    max-width: 50%;
    object-fit: fill;
  }
}
@media only screen and (min-width: 500px) and (max-width: 789px) {
  .bimgLeft,
  .bimgRight {
    max-width: 50%;
    object-fit: fill;
  }
  .text {
    gap: 0.5rem;
    .design {
      width: 5rem;
    }
    .tt {
      font-size: 3rem;
    }
  }
}

//landscape mode
@media (max-height: 570px) {
  .container {
    height: 130vh;
    .scrollbtn {
      bottom: 0;
    }
  }
}

@media (max-height: 500px) {
  .container {
    height: 150vh;
  }
}

@media (max-height: 430px) {
  .container {
    height: 175vh;
  }
}
//iphone SE
@media (max-height: 390px) {
  .container {
    height: 187vh;
  }
}
