.container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 999;
  .nav {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin: 0 4vw;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: 200ms;
      &:hover {
        scale: 1.1;
      }
      &.logo:hover {
        scale: 1;
      }
      a {
        font-family: "Italiana", serif;
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        color: #543300;
        letter-spacing: 2px;

        &.active {
          text-decoration: underline;
          text-decoration-color: #da2925;
          text-decoration-thickness: 0.2rem;
          text-underline-offset: 0.4rem;
        }
      }
    }
  }
  .mobileview {
    display: none;
  }
  .img {
    display: none;
  }
  .imgm {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    .nav {
      li {
        margin: 0 1.5vw;
        a {
          font-size: 1rem;
          font-weight: 800;
          font-family: "Italiana", serif;
          color: #543300;
          letter-spacing: 2px;
        }
        a:hover {
          color: #150e04;
        }
      }
    }
    .mobileview {
      margin-bottom: 1000px;
      display: inline;
      position: absolute;
      font-size: 30px;
      top: 15px;
      right: 25px;
      background-color: transparent;
      border: none;
      float: left;
      .cross1 {
        margin-left: -168vw;
        color: #f4f0eb;
        font-size: 24px;
      }
    }
    .navmob {
      position: absolute;
      display: block;
      list-style: none;
      left: 0;
      width: 100%;
      background-color: #53320190;
      height: 100vh;
      width: 55vw;
      margin-bottom: 60px;
      // animation-name: example 10s;
      // @keyframes example {
      //   0% {
      //     transform: translateX(-400px);
      //   }
      //   100% {
      //     transform: translateX(0px);
      //   }
      //   }
      .li1 {
        padding-top: 80px;
        padding-bottom: 35px;
      }
      .li5 {
        padding-bottom: 35px;
      }
      li {
        margin: 0 1.5vw;
        margin-top: 5px;
        padding-bottom: 20px;
        text-align: center;
        a {
          font-size: 1.2rem;
          font-weight: 800;
          text-decoration: none;
          font-family: "Italiana", serif;
          color: #f4f0eb;
          letter-spacing: 2px;
          padding-left: 38px;
        }
        .img1 {
          display: none;
        }
        .imgm {
          padding-left: 30px;
          margin-bottom: -22px;
          display: block;
        }
      }
      li {
        margin: 0 4vw;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: 200ms;
        &:hover {
          scale: 1.1;
        }
        &.logo:hover {
          scale: 1;
        }
        a {
          font-family: "Italiana", serif;
          font-size: 1.4rem;
          font-weight: 600;
          text-decoration: none;
          color: #f4f0eb;
          letter-spacing: 2px;

          &.active {
            text-decoration: underline;
            text-decoration-color: #da2925;
            text-decoration-thickness: 0.2rem;
            text-underline-offset: 0.4rem;
          }
        }
      }
    }
    .nav {
      display: none;
    }
    .new {
      float: right;
      position: absolute;
      .img {
        // position: absolute;
        display: block;
        padding-top: 5px;
        padding-right: 65vw;
      }
      .imgmob {
        margin-left: 52vw;
        margin-top: 2px;
      }
    }
  }
}
