.card {
  height: 92%;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(167, 103, 41, 0.56);
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
  color: white;
  gap: 1em;
  .eventImg {
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .desc {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    .title {
      font-size: 1.7rem;
      font-weight: 600;
      text-align: center;
    }
    .content {
      font-family: "Poppins";
      text-align: center;
      font-weight: 200;
      line-height: 1.3rem;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .eventImg {
      height: 54%;
      width: 90%;
    }
    .desc {
      padding: 1vw 0 0;
      display: block;
      max-height: 50%;
      overflow: scroll;
    }
  }
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .desc {
      display: block;
      max-height: 50%;
      overflow: scroll;
    }
  }
}
@media (max-width: 400px) {
  .card {
    desc {
      gap: 0;
      .content {
        text-align: justify;
        word-wrap: break-word;
      }
    }
  }
}
