.card {
  height: 92%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(167, 103, 41, 0.56);
  color: white;
  .imgContainer {
    width: 75%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .eventImg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      transition: all 1s ease-in-out;
      opacity: 0;
      // clip-path: polygon(
      //   8.93% 38.02%,
      //   12.14% 26.48%,
      //   22.22% 16.48%,
      //   33.31% 10.31%,
      //   49.84% 7.49%,
      //   66.37% 11.68%,
      //   78.87% 18.68%,
      //   86.75% 26.48%,
      //   90.74% 38.02%,
      //   90.74% 93.34%,
      //   8.93% 93.34%
      // );
      clip-path: polygon(
        9.59% 38.41%,
        12.79% 26.87%,
        20.86% 16.23%,
        34.27% 10.7%,
        49.94% 8.09%,
        65.91% 10.7%,
        80.64% 16.87%,
        87.41% 26.87%,
        91.39% 38.41%,
        91.39% 93.74%,
        9.59% 93.74%
      );
      &:hover {
        opacity: 1;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .desc {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    .title {
      font-family: var(--gdsc-font-1);
      font-size: 2rem;
      font-weight: 600;
    }
    .content {
      font-family: var(--gdsc-font-1);
      text-align: center;
      font-weight: 200;
      //line-height: 30px;
    }
  }
}

@media (max-width: 900px) {
  .card {
    .eventImg {
      height: 54%;
      width: 90%;
    }
    .desc {
      padding: 1vw 0 0;
    }
  }
}

@media (max-width: 700px) {
  .card {
    .desc {
      padding: 1vw 0 0;
    }
  }
  .imgContainer {
    width: 50% !important;
  }
}
@media (max-width: 420px) {
  .card {
    desc {
      gap: 0;
    }
  }
}
@media (max-width: 380px) {
  .card {
    desc {
      gap: 0;
    }
  }
  .title {
    font-size: 1.5rem !important;
  }
  .content {
    font-size: 1rem !important;
  }
}
