.Footer {
  background-image: url("https://res.cloudinary.com/dc1n0ikgk/image/upload/v1680702159/kolkata_theme_bg_seteyf.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2%;
  z-index: 99;
}

.footerupper {
  display: flex;
  justify-content: space-between;
  .footerupperleft {
    img {
      height: 7em;
      border-radius: 2em;
      background: rgb(255, 255, 255, 0.7);
      padding: 1em;
    }
  }

  .footeruppermiddle {
    img {
      width: 15em;
    }
  }

  .footerupperright {
    img {
      width: 8em;
      aspect-ratio: 1;
      object-fit: cover;
      padding: 1em;
      background: rgb(255, 255, 255, 0.7);
      border-radius: 50%;
    }
  }
}

.footermiddle {
  display: flex;
  align-items: center;
  font: var(--gdsc-font-1);
  justify-content: space-around;
  font-size: 1.32em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-weight: 600;
  letter-spacing: 1.5px;
  .footermiddleleft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    .location {
      display: flex;
      align-items: center;
      .locationlogo {
        font-size: 2em;
        margin-right: 0.5em;
      }
    }
    .phoneno {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-left: 0.5em;
      .phonenologo {
        font-size: 1.5em;
        padding-bottom: 0.08em;
      }
    }
  }
  .footermiddleright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    .facebook {
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1em;
      margin-left: 0.5em;
      .facebooklogo {
        font-size: 1.5em;
      }
    }
    .instagram {
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1em;
      margin-left: 0.5em;
      .instagramlogo {
        font-size: 1.5em;
      }
    }
  }
}

.footerlower {
  display: flex;
  background-color: #4c2500;
  justify-content: center;
  color: #ffff;
  padding-bottom: 0.5em;
  font: var(--gdsc-font-1);
}

@media screen and (max-width: 768px) {
  .footerupper {
    .footerupperleft {
      img {
        height: 12vw;
        padding: 1vw;
      }
    }

    .footeruppermiddle {
      img {
        width: 6em;
      }
    }

    .footerupperright {
      img {
        width: 12vw;
        padding: 1vw;
      }
    }
  }
  .footermiddle {
    font-size: 0.75em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    .footermiddleleft {
      gap: 0.5em;
      .location {
        .locationlogo {
          font-size: 2em;
          margin-right: 0.5em;
        }
      }
      .phoneno {
        margin-left: 0.5em;
        .phonenologo {
          font-size: 1.5em;
        }
      }
    }
    .footermiddleright {
      .facebook {
        margin-left: 0.5em;
        .facebooklogo {
          font-size: 1.5em;
        }
      }
      .instagram {
        margin-left: 0.5em;
        .instagramlogo {
          font-size: 1.5em;
        }
      }
    }
  }
  .footerlower {
    font-size: 0.5em;
  }
}
