.our-team {
  background: url(/assets/bg.png), url(/assets/orangebg.jpg);
  opacity: 80%;
  background-position: center;
  height: calc(100vh - 3em);
  overflow: scroll;
  background-size: cover;
  scroll-snap-type: y mandatory;

  .team-flower1,
  .team-flower2 {
    width: 30em;
    height: 30em;
    position: absolute;
    top: 3em;
    z-index: -3;
    user-select: none;
  }

  .team-flower1 {
    left: 0;
    transform: rotateY(180deg);
  }

  .team-flower2 {
    right: 0;
  }

  .role {
    position: fixed;
    z-index: 10;
    top: 50%;
    font-size: 3.6em;
    color: #482c00;
    font-weight: 400;
    font-family: "Italiana", sans-serif;
    left: 60%;
  }
}

@media screen and (max-width: 600px) {
  .our-team {
    .team-flower1,
    .team-flower2 {
      width: 20em;
      height: 20em;
      top: 2.5em;
    }

    .team-flower2 {
      bottom: 0;
      right: 0;
      // top: 70em;
    }

    .role {
      position: fixed;
      z-index: 10;
      top: 50%;
      font-size: 1.5em;
      color: #482c00;
      font-weight: 400;
      font-family: sans-serif;
      left: 65%;
      letter-spacing: 0;
    }
  }
}
