.our-team {
  width: 70%;
  margin: 5rem auto;

  .team-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;

    .title-heading {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;

      img {
        width: 7em;
      }

      h2 {
        color: #fff;
        font-size: 4.5em;
        font-weight: 600;
        text-align: center;
        font-family: Italiana;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    img {
      width: 17em;
    }
  }

  .team-type-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: #ffebcc;
      border: 2px solid black;
      border-radius: 0.5rem;
      cursor: pointer;
      margin-right: 5rem;
      transition: all 0.2s ease-in-out;
      margin-top: -3rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-right: 0;
      }
      &.active-button {
        color: #fff;
        background-color: #543300;
      }
    }
  }

  .devCard-container {
    display: flex;
    flex-direction: column;

    .devCard {
      width: 16em;
      height: 20em;
      margin: 10%;
    }
  }
}

.team-card {
  background: url("/assets/TeamCardbg.png") no-repeat;
  background-size: cover;
  width: 28em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  flex-direction: column;
  margin-bottom: 50%;
  z-index: -100;
}

.team-photo {
  width: 15em;
  margin-top: 9.8em;
}

.team-name {
  font-style: normal;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 5%;
  color: #543300;
  z-index: 10;
  position: relative;
  top: 1.5em;
  font-family: var(--gdsc-font-1);
}

.team-bottom {
  height: 10em;
  width: 19.1em;
  position: relative;
  left: 0.2em;
  bottom: 8em;
}

@media screen and (max-width: 600px) {
  .our-team {
    width: 100%;

    .team-type-buttons {
      button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        margin-top: -1em;
      }
    }

    .team-heading {
      margin-bottom: 3em;

      .title-heading {
        h2 {
          font-size: 1.8em;
          line-height: 3rem;
        }

        img {
          width: 3em;
          height: 2em;
        }
      }

      img {
        width: 10em;
      }
    }

    .devCard-container {
      .devCard {
        width: 16em;
        height: 20em;
      }
    }
  }

  .team-card {
    width: 14em;
    height: 13em;
    margin-left: 1em;
    margin-bottom: 30%;
  }

  .team-photo {
    height: 18em;
    width: 7em;
    margin-top: 5.65em;
  }

  .team-name {
    font-size: 1em;
    letter-spacing: 5%;
    position: relative;
    top: 1em;
  }

  .team-bottom {
    height: 5em;
    left: 0;
    width: 9.5em;
    bottom: 3.1em;
  }
}
